# Data & Models
tokenizer/data/
tokenizer/models/
tokenizer/reports/
data/
models/
reports/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.ipynb_checkpoints/
venv/
.env

# Large Files & Temp
*.xml
*.bz2
*.txt
*.tmp
*.log
!tokenizer/requirements.txt
!README.md

# OS/IDEs
.vscode/
.idea/
.DS_Store
.claude/
.gemini/
